* {
  margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #5F5F5F;
}
body p,a{
  font-size: 12px;
  line-height: 25px;
}
ul {
  list-style-type: none;
}
h2 {
  color: #73B40E;
  margin-bottom: 20px;
  margin-top: 20px
}

#sponsors li {
  margin-bottom: 20px;
}

#sponsors li a {
  color: #5F5F5F;
  text-decoration: none;
}

#sponsors li a:hover {
  color: #73B40E;
}
#sponsors p{
  color: #959595;
}

#sidebar {
  flex-basis: 300px;
}
#Sidebarmenu li a:hover {
  color: #73B40E;
}

.mainc2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 0 40px 40px;
  width: 930px;
}

#mainbar {
  flex: 1 1 65%;
  padding: 0 40px 0 0;
}

#sidebar {
  flex: 1 1 30%;
  color: #5F5F5F;
}

p {
  font: normal 12px / 1.8em Arial, Helvetica, sans-serif;
}
:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #73b40e;
  --span-color: #db7835;
}

header {
  background: var(--bg-color);
  color: var(--text-color);

}

.headerResizer {
  margin: 0 auto;
  padding: 0 0 0 40px;
  width: 930px;
}
header h6 {
  font-size: smaller;
  padding-left: 240px;
  padding-top: 30px;
  color: #C3C6C3;
}

header h1 {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 60px
}

header a {
  color: white;
}

header span {
  color: var(--span-color);
}

header ul {
  display: flex;
  padding-bottom: 30px;

}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  margin-right: 16px;
  padding: 12px;
  background-color: var(--main-color);
  border-radius: 4px;
}

header a:hover {
  background-color: var(--span-color);
}

.div2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  padding: 0 0 0 40px;
  width: 930px;
}

.footer {
  padding: 20px 0 20px 0;
  background-color: #222922;
  
}

.footer h2 {
  color: white;
}

.div2 h2 {
  margin-bottom: 20px;
}

.div2 p {
  color: white;
}

.div2 a {
  color: var(--main-color);
}

.upper {
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 5px;
}

.lower {
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 5px;
}

#aboutcollection img {
  float: left;
  margin: 0 8px;
}

#aboutcollection {
  padding: 0 50px 0 50px;
}


footer p a {
  color: var(--main-color);
  text-decoration: underline;
}

footer .foot {
  display: flex;
  justify-content: center;
  background-color: #202020;
  gap: 300px;
  padding: 30px 20px;
  padding-left: 70px;
  box-shadow: 0 0 0 0.25px#fff;
}

footer nav ul {
  display: flex;
  gap: 20px;
  justify-content: right;
}

footer nav a {
  text-decoration: none;
}

footer p,
footer a {
  font-size: 12px;
  color: white;
}

footer nav li {
  list-style: none;
}

footer li a:hover {
  color: var(--main-color);
}

footer ul span {
  color: var(--main-color);
}
#h2{
  background-color: #DB7835;

}
#h2:hover{
  background-color: #DB7835;
}